<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Route</title>
</head>
<body class="container">
<div class="d-flex p-2">
    <div class="box">
            Case of the Stops not handled, kindly enter proper na
        </div>
    <form method="POST" style="aligmen-content: center"><br>
        <input name="text" placeholder="Start">
        <input name="text2" placeholder="Destination">
        <input type="submit">
        <div class="box"><br>
            Blank Means No routes Possible
        </div>
    </form>
</div>
</body>
</html>